extends layout

block header
    link(rel='stylesheet', href='/stylesheets/assignmentView.css')

block toolbar
    a(href='/mainPage') Back

block content
    h1(id='assignmentTitle', class='title') #{assignmentName}
    div(id='questionHolder', class='question')
        
    div(id='bottomForm')
        button(id='submitButton', onclick='submitForm()', class='submit') Submit

    script(src="js/assignmentView.js")
        

