extends layout

block header
    link(rel='stylesheet', href='/stylesheets/assignmentView.css')

block toolbar
    a(href='/mainPage') Back

block content
    h1(id='assignmentTitle', class='title') #{assignmentName}
    div(id='questionHolder', class='question')
        
    button(id='submitButton', class="btn-submit", onclick='submitForm()') Submit

    script(src="js/assignmentView.js")
        

