extends layout.jade

block toolbar
  a(id="sign" href="/signUp") Sign up
  a(id="login" href="/login") Log in

block content
  div(class="banner")
    h1 Welcome to the demo site!
    p Please sign up or login to start using the demo. If you want to learn how to use this program, then

  div(class="information")
    h2 Using AI to teach
    p This project's goal is to help teachers teach their children with AI. This project is particularly geared towards children with special needs and vocabulary development, but it can theoretically be used to help children from all walks of life when used appropriately. Teachers spend a lot of time designing programs to teach their students, so they could save time and effort by using AI to design these programs for them!

  div(class="tutorial")
    h1 How to use the program!
    div
      h2 Step 1
      p You will need to sign in to the program using an account you created. When making your account, you need to identify if you are a student or a teacher. A student will have to submit a class code to create their account, while a teacher account will not.
      p To do this, first select the "Sign Up" option on this page!
      img(src="/images/Step 1 of 1.png" alt="Step 1 of 1")
      p The next step is to create new account information. Make sure it's original and written down somewhere!
      img(src="/images/Step 2 of 1.png" alt="Step 2 of 1")
    h2 Step 2
    p Now, after signing in, you can explore the features of the program.
