extends layout

block header
    link(rel='stylesheet', href='/stylesheets/frontPage.css')

block toolbar
  a(id="sign", href="/signUp") Sign up
  a(id="login", href="/login") Log in

block content
  div(class="banner")
    h1 Welcome to the demo site!
    p Please sign up or login to start using the demo. If you want to learn how to use this program, then feel free to read this page!

  div(class="information")
    h2 Using AI to teach
    p This project's goal is to help teachers teach their children with AI. This project is particularly geared towards children with special needs and vocabulary development, but it can theoretically be used to help children from all walks of life when used appropriately. Teachers spend a lot of time designing programs to teach their students, so they could save time and effort by using AI to design these programs for them!

  div(class="tutorial")
    h1 How to use the program!
    div
      h2 Step 1 Create an Account
      p You will need to sign in to the program using an account you created. When making your account, you need to identify if you are a student or a teacher. A student will have to submit a class code to create their account, while a teacher account will not.
      p To do this, first select the "Sign Up" option on this page!
      img(src="/images/Step 1 of 1.png", alt="Step 1 of 1")
      p The next step is to create new account information. Make sure it's original and written down somewhere!
      img(src="/images/Step 2 of 1.png", alt="Step 2 of 1")
      
      h2 Step 2 Create a Class
      p Now, after signing in, you can explore the features of the program. If you are a teacher, then you need to start by creating a class. By clicking the button in the top left corner you can create a class.
      p Once you have your class created, you'll need to select the class by clicking the middle button of the tool bar.
      p You will be prompted by a pop up menu that will allow you to select your newly created class.
      p From here you can do whatever you want! Share the class ID with your student accounts, create assignments, and see their grades!

      h2 Step 3 Create Assignments and AI
      p Now that you have your class created, we now need to create some assignments for your new class! To start off, lets click the create assignment button, fill out the name of the assignment, add a due date, and create the assignment.
      p Now that you are in the create assignments page, you can now either create an assignments from scratch (using the add question/answer parts of the page), or you can use AI (the recommended method). Click the AI Tool button in the toolbar.
      p From the AI menu, you can upload a pdf of your powerpoint right into the server, The server will then send the documents to an AI and the AI will generate a certain number of questions based on the pdf you've uploaded.
      p Feel free to add aditional messages via our prompt box to tell the AI exactly what you want!

      h2 Step 4 Connect Student Accounts
      p Now that the class is set up, lets connect the student accounts to the classroom.
      p Start by signing into your student account and clicking the add class button in the top right corner.
      p Then type in the class ID of the class and hit the submit button. Now your good to go!
      p Just select the class, and all the assignments will appear!