extends layout

block header
    link(rel='stylesheet', href='/stylesheets/gradeView.css')

block toolbar
    a(href="/mainPage") Back
block content
    h1(class="title") #{assignName}
    table(class="gradeHolder", id="container")
        tr
            th Name
            th Grade

    script(src="js/gradeView.js")