extends layout

block header
    link(rel='stylesheet', href='/stylesheets/login.css')

block toolbar
    a(id="back", href="/") Back
    a(id="sign", href="/signUp") Sign Up

block content
    div(class="login")
        div
            label Username:
            input(type="text", id="username")
        div
            label Password:
            input(type="password", id="password")
        button(id="loginButton", type="submit") Login

        div(style="color: red;")
            p(id="errorText")

    script(src="/js/login.js")
        
