extends layout

block header
    link(rel='stylesheet', href='/stylesheets/signUp.css')

block toolbar
        a(id="back", href="/") Back
        a(id="sign", href="/login") Log In

block content
    div(class="input")
        div
            label Username:
            input(type="text", id="username")
        div
            label Password:
            input(type="password", id="password")
        div
            label Rewrite Password:
            input(type="password", id="repassword")
        div
            label Teacher
            input(id="teacherBox", type="checkbox", class="checkbox")
        div
            label Student
            input(id="studentBox", type="checkbox", class="checkbox", checked)
        button(class="btn-signUp", id="SubmitButton", type="submit") Sign Up
            div(class="arrow-wrapper")
                div(class="arrow")
        div(id="error", class="error", style="visibility: hidden;")
            p(id="errorText") a

    script(src="js/signUp.js")

