.tutorial, .information{
    padding-left: 10px;
    padding-right: 10px;
}
.tutorial img {
    max-width: 75%;
    height: auto;
    text-align:center;
}
    
.tutorial h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
}
    .tutorial h1:before, .tutorial h1:after {
        content: " ";
        display: block;
        border-bottom: 2px solid #ccc;
        background-color: white;
    }
.banner {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 50px;
}

    .banner h1 {
        margin: 0;
        font-size: 3em;
    }

    .banner p {
        font-size: 1.2em;
    }

    .banner a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }